@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Josefin Sans', sans-serif;
}


/* For Firefox */
* {
  scrollbar-width: thin;
}

/* For WebKit browsers */
*::-webkit-scrollbar {
  width: 8px; /* Change this value to your desired width */
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Customize the scrollbar thumb color */
  border-radius: 10px; /* Optional: round the corners */
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Customize the scrollbar track color */
}

/*.scroll-container {*/
/*  scroll-behavior: smooth;*/
/*  transition: scroll 2s ease-in-out; !* Adjust the duration as needed *!*/
/*}*/

@keyframes boldText {
  0% {
    font-weight: normal;
  }
  100% {
    font-weight: bold;
  }
}

.bold-animation {
  animation: boldText 0.3s forwards;
}


/*!* Custom invisible scrollbar *!*/
/*.hide-scrollbar {*/
/*  overflow-x: auto;*/
/*  overflow-y: hidden;*/
/*}*/

/*.hide-scrollbar::-webkit-scrollbar {*/
/*  width: 0;  !* Chrome, Safari, and Opera *!*/
/*  height: 0; !* Chrome, Safari, and Opera *!*/
/*}*/

/*.hide-scrollbar {*/
/*  -ms-overflow-style: none;  !* IE and Edge *!*/
/*  scrollbar-width: none;  !* Firefox *!*/
/*}*/

/*.sticky-element {*/
/*  position: -webkit-sticky; !* For Safari *!*/
/*  position: sticky;*/
/*  top: 0; !* Adjust as needed *!*/
/*  z-index: 1000; !* Ensure it is above other content *!*/
/*}*/
